.game-container {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container {
  max-width: 400px;
  margin-top: 20px;
}
.gridContainer {
  max-width: 400px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  height: 5rem;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

h1 {
  font-family: Arial, sans-serif;
}

button {
  margin-top: 20px;
}
img {
  width: 30%;
}

.hide {
  filter: brightness(0.0);
}

.show {
  filter: brightness(1.0);
}
